<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techno</title>
    <script src="./vue.min.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="logo">
                <img src="./assets/techno.svg" :alt="store">
            </div>

            <div class="cart" @click="openCartModal">
                {{ cartTotal | numtoToCurrency }} | {{cartControl.length}}
                <img src="./assets/carrinho.svg" alt="Carrinho">
            </div>
        </header>

        <section class="products">
            <div 
                class="card-wrapper"
                v-for="{ id, img, preco, nome } in products"
                @click="openModal(id)"
                :key="nome"
            >
                <img :src="img" :alt="nome" class="card-image">
                <div class="card-content">
                    <div class="card-price">{{ preco | numtoToCurrency  }}</div>
                    <div class="card-name">{{ nome }}</div>
                </div>
            </div>
        </section>

        <section 
            class="popup"
            :class="{ show: showModal }"
            v-if="actualProduct"
            @click="closeModal"
        >
            <div class="popup-wrapper">
                <div class="close-button" @click="closeModal">X</div>
                <img :src="actualProduct.img" :alt="actualProduct.nome" class="popup-image">
                <div class="popup-content">
                    <div class="popup-price">{{ actualProduct.preco | numtoToCurrency }}</div>
                    <div class="popup-name">{{ actualProduct.nome }}</div>
                    <div class="popup-description">{{ actualProduct.descricao }}</div>
                    <div 
                        class="popup-add-to-cart"
                        :class="{ disabled: !actualProduct.estoque }"
                        @click="addProductToCart(actualProduct.id)"
                    >
                        Adicionar Item
                    </div>
                    <div 
                        class="reviews-wrapper"
                    >
                        <h3 class="reviews-title">Reviews</h3>
                        <div
                            v-for="{ nome, estrelas, descricao } in actualProduct.reviews" 
                            class="popup-review"
                        >
                            <div class="popup-reviews-descricao">{{descricao}}</div>
                            <span class="popup-reviews-name">{{nome}}</span> |
                            <span class="popup-reviews-stars">{{estrelas}} estrelas</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section
            class="popup-cart"
            v-if="cartModalOpen"
        >
            <div class="popup-wrapper-cart">
                <div class="close-button" @click="closeCartModal">X</div>
                <h3 class="popup-cart-title">Carrinho</h3>
                <div class="popup-cart-products">
                    <div
                        class="popup-cart-product"
                        v-for="{ nome, preco, id } in cartControl"    
                    >
                        
                        <div>{{nome}}</div>
                        <div class="popup-cart-product-content">
                            <div class="popup-cart-product-price">{{preco  | numtoToCurrency }}</div>
                            <div
                                class="popup-cart-product-remove"
                                @click="removeToCart(id)"
                            >X</div>
                        </div>
                    </div>
                    <div class="popup-cart-total">
                        <div>Total</div>
                        <div>{{cartTotal | numtoToCurrency }}</div>
                    </div>
                </div>
                <div class="popup-cart-button" @click="finish">Finalizar compra</div>
            </div>
        </section>

        <section
            class="modal-cart"
            :class="{ 'product-added': productAdded }"
        >
            {{ actualProduct.nome }} adicionado ao carrinho.
        </section>
    </div>
    <script src="./app.js"></script>
</body>
</html>