@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;
    --gray-dark: #111;
    --gray-normal: #222;
    --gray-light: #777;
    --gray-lighter: #cdcdcd;
}

body {
    background: linear-gradient(270deg, rgba(255,255,255,1) 70%, rgba(34,34,34,1) 70%, rgba(34,34,34,1) 96%);
    font-family: 'Lexend', sans-serif;
    position: relative;
    font-size: 1rem;
    line-height: 1.5;
}

#app {
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 5rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.logo {
    font-size: 1.5rem;
    color: var(--white);
}

/* Product cards */

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 2.5rem;
}

.card-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0.2rem;
    box-shadow: 2px 1px 9px 1px rgba(0, 0, 0, 15%);
    overflow: hidden;
    transition: all ease-in .1s;
}

.card-wrapper:hover {
    cursor: pointer;
    transform: translate(.5rem, 0);
}

.card-image {
    max-height: 200px;
}

.card-content {
    width: 100%;
    padding: 2rem;
}

.card-price {
    color: var(--gray-light);
    font-size: 1.5rem;
    font-weight: lighter;
}

.card-name {
    color: var(--gray-dark);
    font-size: 3rem;
    font-weight: bold;
}

/* Product popup */

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    padding: 4rem 0;
    height: 100%;
}

.popup-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background: linear-gradient(270deg, rgba(255,255,255,1) 78%, rgba(34,34,34,0) 78%, rgba(0,0,0,0) 90%);
    position: relative;
    padding: 4rem 0;
    display: flex;
    gap: 4rem;
    animation: fadeIn .2s forwards;
}

.popup {
    display: none;
}

.show {
    display: block;
}

.close-button {
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--white);
    padding: 0.75rem;
    border-radius: 100%;
    border: 2px solid;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 1.4;
    box-shadow: 2px 1px 9px 1px rgba(0, 0, 0, 15%);
}

.popup-image {
    max-width: 30%;
    box-shadow: 2px 1px 9px 1px rgba(0, 0, 0, 15%);
    height: fit-content;
}

.popup-content {
    padding: 12rem 4rem 0 0;
}

.popup-price {
    color: var(--gray-light);
    font-size: 1.5rem;
    font-weight: lighter;
}

.popup-name {
    color: var(--gray-dark);
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.popup-add-to-cart {
    cursor: pointer;
    background: var(--gray-dark);
    padding: 1rem;
    display: inline-block;
    color: #fff;
    margin: 5rem 0;
}

.popup-add-to-cart.disabled {
    cursor: not-allowed;
    background-color: var(--gray-light);
    pointer-events: none;
}

.reviews-title {
    font-size: 1.5rem;
}

.popup-review {
    padding: 2rem 0;
    border-bottom: 1px solid var(--gray-lighter);
}

.popup-reviews-descricao {
    color: var(--gray-light);
}
.popup-reviews-name,
.popup-reviews-stars {
    font-weight: bold;
}

/* Product added to cart popup */

.modal-cart {
    border: 2px solid var(--gray-dark);
    background: var(--white);
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 2px;
    position: fixed;
    opacity: 0;
}

.product-added {
    top: 0;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, 100%);
    transition: opacity .2s;
}

/* Cart */
.cart {
    cursor: pointer;
    display: flex;
    gap: 10px;
}

.popup-cart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    padding: 4rem 0;
    height: 100%;
}

.popup-wrapper-cart {
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.popup-cart-title {
    padding-bottom: 1rem;
}

.popup-cart-products {
    border-bottom: 2px solid var(--gray-dark);
    border-top: 2px solid var(--gray-dark);
    padding: 1rem 0;
}

.popup-cart-product {
    border-bottom: 1px solid var(--gray-lighter);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1rem;
}

.popup-cart-product-content {
    display: flex;
    gap: 1rem;
}

.popup-cart-product-remove {
    cursor: pointer;
}

.popup-cart-total {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
}

.popup-cart-button {
    cursor: pointer;
    background: var(--gray-dark);
    padding: 1rem;
    display: inline-block;
    color: #fff;
    margin: 1rem 0 0;
    align-self: end;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    header {
        padding: 2rem;
    }

    /* MOBILE - products */
    .products {
        padding: 0 2rem;
    }

    .card-wrapper {
        flex-direction: column;
        background-color: var(--white);
        max-width: 100%;
    }

    .card-image {
        max-height: none;
        width: 100%;
    }

    .card-content {
        padding: 1.5rem;
    }

    .card-name {
        font-size: 2rem;
    }

    /* MOBILE - products popup */
    .popup-wrapper {
        background-color: var(--white);
        flex-direction: column;
        margin: 0 2rem;
        padding: 4rem 2rem;
        gap: 2rem;
    }

    .popup-image {
        max-width: 80%;
    }

    .popup-content {
        padding: 0;
    }

    .popup-add-to-cart {
        margin: 1.5rem 0;
    }

    /* MOBILE - Product added to cart popup */
    .modal-cart {
        text-align: center;
    }

    /* MOBILE - cart */
    .popup-wrapper-cart {
        max-width: 80%;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(50px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0px, 0, 0);
    }
}